@font-face {
    font-family: 'exo_2.0thin';
    src: url('../fonts/exo2.0-thin-webfont.eot');
    src: url('../fonts/exo2.0-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thin-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-thin-webfont.woff') format('woff'),
         url('../fonts/exo2.0-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
