/* Sticky footer styles----------------- */
html 
  position: relative
  height: 100%

body 
  /* Margin bottom by footer height */
  height: 100%

.wrapper
  display: table
  width: 100%  

.middle
  display: table-cell
  vertical-align: middle
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.01) 49.88%, rgba(0,0,0,0) 50.39%, rgba(0,0,0,.5) 100%) /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.01) 49.88%, rgba(0,0,0,0) 50.39%, rgba(0,0,0,.5) 100%) /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.01) 49.88%, rgba(0,0,0,0) 50.39%, rgba(0,0,0,.5) 100%) /* gradient overlay */
  background-image: linear-gradient(bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.01) 49.88%, rgba(0,0,0,0) 50.39%, rgba(0,0,0,.5) 100%) /* gradient overlay */


h1
  font-family: 'exo_2.0thin'
  font-weight: normal
  font-size: 36px

ul
  list-style: none
  padding: 0

.list-inline
  text-align: center
  > li
    display: inline-block
    vertical-align: top


.wrapper
  min-height: 100%  
  background: url("../i/bg-main.jpg") no-repeat
  background-size: cover

.content
  text-align: center

.white-text
  color: #fff  

.yellow-text
  color: $yellow-color 

.pink-text
  color: $pink-color 